@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root
{
    --primary-color: #60A5FA;
    --off-white: #F3F4F6;

}


body{
    font-family: Verdana, sans-serif;
    margin: 1px;
}

.container
{
    padding: 0.5rem , 1rem;
}

.container-center
{
    
    max-width: 50%;
    margin: auto;
    padding: 1rem;
}

#links
{
   box-sizing: border-box;
    text-decoration: none;
    padding: 0.5rem 1rem;

}

.primary-links
{
background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: white;
    display: block;
    max-width: 110px;
    padding-left: 0.5rem;
    margin: 1rem auto;
}

.secondary-links
{
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 0.5px solid var(--primary-color);
    display: block;
    max-width: 100px;
    padding: 0.5rem;
    margin: auto;
}

.list-non-bullet
{
    list-style: none;
}

.list-item-inline
{
    display:inline;
    padding: 0rem, 0.5rem;
    
}

.navigation-container
{
    background-color: var(--primary-color);
    color:white;
    border-bottom-left-radius: 1rem;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

.navigation-container .link
{
    color:white ;
    text-align: right;
}

.navigation-container .nav-pills
{
    list-style: none;
    text-align: right;
}

.navigation-container .nav-brand
{
    font-weight: bold;
    font-size: 1rem;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.navigation-container .link-active
{
   font-weight: bold;
    font-size: 1rem; 
}

.hero
{
padding: 0.5rem;
 margin: auto;

}

.hero .hero-img
{
    max-width: 500px;
    display: block;
    margin: auto;
}

.hero .hero-heading
{
   
    padding-top: 1rem;
     text-align: center;
     font-size: 2rem;
     color:#9CA3AF;
}

.hero .hero-heading .heading-inverted {
    color: var(--primary-color);
}

.section
{
     padding: 0rem;

}

.section h1{
    text-align: center;
}

.ow
{
    background-color:var(--off-white);
    padding: 0rem;
   
}

.primary-links
{
background-color: var(--primary-color);
border-radius: 1rem;
color:white;
border: 1px solid ;
padding: 0.5rem;
}


.footer
{
    background-color: var(--primary-color);
    padding: 0.5rem;
    color: white;
    text-align: center;
    border-top-right-radius: 1rem;
     margin-top: 1rem;
}

.footer .links
{
   color: white;
    padding: 0.5rem;
}

.footer ul
{
    padding-inline-start: 0px;
}

.mb-5 {
    margin-bottom: 1rem;
}

